In [1]:
%matplotlib inline
import math as m; import numpy as np; import matplotlib.pyplot as plt; import matplotlib.colors
import pandas as pd; import os; import pathlib; import string; import datetime; import h5py

directory = 'D:\\Jupiter_satellites_data\\'

In [2]:
# moon data
sat_list = ['Io', 'Europa', 'Ganymede']
d_eq_VAR = [75, 75, 75]

RI = 0.0261 # Io radius in RJ
RE = 0.0223 # Europa radius in RJ
RG = 0.0377 # Ganymede radius in RJ

R_list = np.array([RI, RE, RG]); R_labels = np.array(['RI', 'RE', 'RG'])
years = np.arange(2016, 2022+1)

In [10]:
file = 'jupiterMoonsLocationInfo_2018_v1.0.txt'
fields = ['Year', 'Month', 'Date', 'Hour', 'Minute', 'Lon_Juno [degree]']
data = pd.read_csv(directory + file, names = fields, usecols = fields, sep = '\s+',header = 15)

In [11]:
data

        Year  Month  Date  Hour  Minute  Lon_Juno [degree]
0       2018      1     1     0       0              72.43
1       2018      1     1     0       1              73.03
2       2018      1     1     0       2              73.64
3       2018      1     1     0       3              74.24
4       2018      1     1     0       4              74.85
...      ...    ...   ...   ...     ...                ...
525596  2018     12    31    23      56             292.15
525597  2018     12    31    23      57             292.75
525598  2018     12    31    23      58             293.36
525599  2018     12    31    23      59             293.96
525600  2019      1     1     0       0             294.57

[525601 rows x 6 columns]

In [15]:
print(np.min(data['Lon_Juno [degree]'].values))
print(np.max(data['Lon_Juno [degree]'].values))

0.0
360.0